<div>
  <h1>Admin page</h1>

  <form>
    <input type="text" name="author" id="author" ng-model="newPost.author" placeholder="Author">
    <br>
    <textarea rows="3" cols="70" ng-model="newPost.content" id="new-message" placeholder="Write your message here..."></textarea>  
    <button ng-click="insertNewMessage(newPost)">Send</button>
  </form>



  <br>

  <form>
    <input type="text" name="author" id="author" ng-model="updatePost.author" placeholder="Author">
    <input type="text" name="postID" id="postID" ng-model="updatePost.postID" placeholder="ID">

    <br>
    <textarea rows="3" cols="70" ng-model="newPost.content" id="new-message" placeholder="Write your message here..."></textarea>  
    <button ng-click="updateMessage(newPost)">Send</button>
  </form>

  <p>{{ tagline }}</p>
</div>