<div>
  <div class="main">
    <ul ng-repeat="posts in showPosts">
	    <div class="blogpost">
	      <li class="title">
          	<h1><a ng-href="/view/{{posts._id}}">{{posts.title}}</a></h1>
          </li>

	      <li class="content"><p>{{posts.content}}</p></li>
		  <li class="author"><h5>By {{posts.author}} on {{posts.timeCreated}}</h5></li>
       	  <div class="tags"><h5>Tags:</h5> <ul><span ng-repeat="tag in posts.tags" class="postTag"><li>{{tag.tag}}</li></span></ul></div>
	      
	      <div ng-if="isAuthorized(currentUser.role)"><a class="btn btn-default edit" ng-href="/admin/edit/{{posts._id}}">Edit</a><a class="btn btn-default delete" ng-click="deletePost(posts._id)">Delete</a></div>
	    </div> 
    </ul>
  </div>
</div> 