
<div class="main">
  <div class="users">
    <a ng-if="isAdmin() && !isCreateView && !isEditView" class="btn btn-primary" ng-click="goToEdit()">Create new user</a>
    <div ng-if="isCreateView || isEditView">
      <h3 class="registerHeading">{{registerHeading}}</h3>
      <div ng-if="userMessage" class="userMessage">{{userMessage}}</div>
      <div ng-if="isCreateView">
        <form name="registerForm"
            action="" target="sink" method="post"
            ng-submit="create(register)"
            novalidate form-autofill-fix>
          <label for="username">Username:</label>
          <input type="text" id="username"
                 ng-model="register.username" required>

          <label for="password">Password:</label>
          <input type="password" id="password"
                 ng-model="register.password" required>

          <label for="userRole">Role:</label>
          <select id="userRole" ng-options="role.name for role in userRoles" ng-model="register.role" value="role" required>
          </select>

          <button class="btn btn-default" type="submit">Save</button>
          <a class="btn btn-default" ng-href="/admin/users">Cancel</a>
        </form>
      </div>
      <div ng-if="isEditView">
        <form name="registerForm"
              action="" target="sink" method="post"
              ng-submit="updateUser(userData)"
              novalidate form-autofill-fix>

          <label for="username">Username:</label>
          <input type="text" id="username"
                 ng-model="userData.username" required>

          <label for="password">Password:</label>
          <input type="password" id="password"
                 ng-model="userData.password" required>

          <label for="userRole">Role:</label>
          <select id="userRole" ng-options="role.name for role in userRoles" ng-model="userData.role" value="role" required>
          </select>

          <button class="btn btn-default" type="submit">Update</button>
          <a class="btn btn-default" ng-href="/admin/users">Cancel</a>
        </form>
      </div>
    </div>
  </div>

  <div ng-if="!isCreateView && !isEditView">
    <div class="userListing">
      <ul ng-repeat="user in userList">
        <div ng-if="user.username">
          <div class="userListItem">
            <li><h5>User name: </h5><em>{{user.username}}</em><br><h5>User role: </h5><em>{{user.role}}</em><br><h5>User id: </h5><em>{{user._id}}</em></li>
            <li class="edit"><a class="btn btn-default" ng-click="goToEdit(user._id)">Edit</a></li>
            <li class ="delete" ng-if="isAuthorized(currentUser.role)"><a class="btn btn-default" ng-click="deleteUser(user._id)">Delete</a></li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>