<div class="main">
 <h3 class="registerHeading">Register new user</h3>
 <div class="userMessage">{{userMessage}}</div>
 <form name="registerForm"
        action="" target="sink" method="post"
        ng-submit="create(register)"
        novalidate form-autofill-fix>

    <label for="username">Username:</label>
    <input type="text" id="username"
           ng-model="register.username" required>

    <label for="password">Password:</label>
    <input type="password" id="password"
           ng-model="register.password" required>

    <label for="userRole">Role:</label>
    <select id="userRole" ng-options="role.name for role in userRoles" ng-model="register.role" value="role" required>
    </select>

    <button type="submit">Register</button>
  </form>
  
  <!-- <div class="userListing">
    <ul ng-repeat="user in userList">
        <li><h5>User name: </h5><em>{{user.username}}</em><br><h5>User role: </h5><em>{{user.role}}</em><br><h5>User id: </h5><em>{{user._id}}</em></li>
    </ul>
  </div> -->
</div>