body {
  font-family: helvetica;
  margin: 10px;
}

footer {
  margin-top: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  min-width: 70px;
}

.menu {
  float: right;
}
li {
	list-style: none;
	display: inline-block;
}
.main{

	width: 60%;
	margin: 40px auto 20px;
}

.messagebox {
  width: 70%;
  height: 150px;
  display: block;
}

#title {
  width: 70%
}

.edit {
  float: left;
  margin-right: 10px;
}
  
.title{
	width: 100%;
	margin-bottom: 35px;
	text-align: center;
	font-size: 120px;
	font-weight: bold;
	font-family: "Playfair Display"

}
.blogpost{
	margin-bottom: 50px;
	border-bottom: 2px solid #e8e8e8;
}
.content{
	font-size: 17px;
	line-height: 25px;
}
.author{
	margin-bottom: 15px;
	display: block;
	font-style: italic;
}

/*div#createPostWrapper, div#updatePostWrapper {
	display: none;
}*/

.delete{
	margin-bottom: 20px;
}

.logo{
	width: 60%;
	height:150px;
	border:2px dotted fuchsia;
	margin:0 auto;
}
ul{
	margin: 0;
}