/*@font-face {  
  font-family: 'Glyphicons Halflings';  
  src: url('../fonts/glyphicons-halflings-regular.eot');  
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');  
}  */
  
/*.glyphicon {  
  position: relative;  
  top: 1px;  
  display: inline-block;  
  font-family: 'Glyphicons Halflings';  
  -webkit-font-smoothing: antialiased;  
  font-style: normal;  
  font-weight: normal;  
  line-height: 1;  
  -moz-osx-font-smoothing: grayscale;  
} */

body {
  font-family: helvetica;  
}

footer {
  margin-top: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  min-width: 90px;
}

.menu {
  float: right;
}

li {
	list-style: none;
	display: inline-block;
}

.main{
	width: 90%;
	margin: 40px auto 20px;
}

.messagebox {
  width: 70%;
  height: 150px;
  display: block;
}

#title {
  width: 70%
}

.edit {
  float: left;
  margin-right: 10px;
}
  
.removeTag {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 3px;
  margin: 2px;
}

.title {
	width: 100%;
	margin-bottom: 35px;
	text-align: center;
	font-size: 120px;
	font-weight: bold;
	font-family: "Playfair Display"

}

.blogpost{
	margin-bottom: 50px;
	border-bottom: 2px solid #e8e8e8;
}

.content{
	font-size: 17px;
	line-height: 25px;
}

.author{
	margin-bottom: 15px;
	display: block;
	font-style: italic;
}

div.userMessage {
  border: 2px solid red;
  padding: 10px;
  margin: 5px 0px;
  font-weight: 400;
  color: red;
  width: 250px;
}

div.userListing ul li {
  display: block;
  margin: 5px 0;
}

div.userListing ul li h5 {
  display: inline;
}

.delete{
	margin-bottom: 20px;
}

.logo{
	width: 60%;
	margin:0 auto;
	text-align: center;
	position: relative;
	
}
.logo > h1{
	line-height: 40px;
	position: relative;
	font-size: 40px;
	font-family: "Playfair Display";
	display: block;
	cursor: pointer;

}
ul{
	margin: 0;
}
.menuBtn{
	color: grey;
	font-size: 30px;
	height: 35px;
	width: 35px;
	cursor: pointer;
	float: right;
	margin-top: -50px;
	margin-right: -10px;

}

.searchTagsList {
  font-size: 1em;
  display: none;
  margin: 5px auto;
  float: left;
}

.searchTagsList ul {
  display: inline-block;
  text-align: left;
  float:left;
}

.postTag {
  display: inline-block;
  padding: 2px 5px;
  margin: 2px;
  border-radius: 3px;
  border: 1px groove gray;
  background-color: LightBlue;
  cursor:pointer;

}
.tags ul {
  padding-left: 0px;
  padding-bottom: 15px;
}

.tagbutton{
	float: left;
	margin-bottom: 10px;
}
.menuBtn:hover{
	color: grey;
}
.staticMenu{
	position: fixed;
	right: 19px;
}
a:hover{
	text-decoration: none;
}
a:link, :visited{
	color: black;
}
.users li{
	float: none;
}
@media screen and (min-width: 480px) {
	
	.logo > h1{
		line-height: 80px;
		font-size: 80px;
	}
}

@media screen and (min-width: 700px) {
	.logo > h1{
		line-height: 100px;
		font-size: 100px;
	}
	.main{	
			width: 70%;
			margin: 40px auto 20px;
		}
}